*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.claude
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/database/*.sqlite
# /public/build
/public/hot
/public/storage
/storage/app/chrome-debug-profile
/storage/app/chrome-headless
/storage/app/public/trade-signals
/storage/*.key
/storage/pail
/vendor
*.zip
Homestead.json
Homestead.yaml
Thumbs.db
.htaccess
.htaccess.bak
.htaccess.bak2
/public/.htaccess
